{% extends 'base.html.twig'%}

{% block body %}
<h1>Bienvenue dans mon site blog</h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem ipsum distinctio at nemo veniam, quasi recusandae molestiae. Aspernatur veritatis amet, qui voluptates soluta illum. Nostrum provident, pariatur repellat, sit, asperiores in a odit itaque repudiandae cum laborum doloremque tenetur. Nostrum!</p>
<p>Repellat culpa tempora atque autem corporis aperiam voluptatum. Excepturi, consequatur corporis aperiam sit, laudantium voluptates a provident animi ipsa amet impedit? Itaque, aspernatur? Aspernatur autem facere aliquam doloremque dolores voluptatibus nam, ipsa animi natus in beatae hic soluta, vitae culpa?</p>

{% endblock %}


